/*
0 - 600px      Phone
600 - 900px    Tablet portrait
900 - 1200px   Tablet landscape
1200 - 1800px  Desktop first approach
1800px+        Big desktop

$breakpoint argument choices
-phone
-tab-port
-tab-land
-big-desktop

Order: Base + typography > general layout + grid > page layout >components

*/
/*1140px / 10 = 114rem*/
/*80px /10 = 8 rem*/
/*60px / 10 = 6 rem*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*change the box model, no extra paddings and margins to be added to the total width or height*/ }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777; }

.heading-primary {
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  margin-bottom: 6rem;
  text-align: center; }
  .heading-primary--main {
    /* display: table; */
    /* margin: auto; */
    text-align: center;
    display: block;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1rem;
    animation: moveInLeft 2s ease-in; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 0.4rem;
        font-size: 3rem;
        margin-bottom: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 13px;
    animation: moveInRight 2s ease-in; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.2rem;
        font-size: 1.8rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  background-image: linear-gradient(to right, #889ce091, #3a659ea6);
  background-clip: text;
  -webkit-background-clip: text;
  /*for the background image to appear only where the text is*/
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.8rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.2rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem;
    /*not the last paragraph*/ }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 12rem 0;
      margin-top: -11vh; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(136, 156, 224, 0.8), rgba(58, 101, 158, 0.8)), url(..images/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 5rem 0 15rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 5rem 0 15rem 0; } }

.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #889ce091, #3a659ea6); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(/images/nat-4.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(/images/nat-4.jpg);
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%, transparent 65%), url(/images/nat-4.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }

.bgimg-ct, .bgimg-ab, .bgimg-cozia, .bgimg-b, .bgimg-hd, .bgimg-cr, .bgimg-bv {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

.bgimg-ct {
  background-image: url("/images/Romania/Constanta-Beach-2.jpg"); }

.bgimg-bv {
  background-image: url("/images/Romania/Brasov-Piata-Sfatului.jpg"); }

.bgimg-cr {
  background-image: url("/images/Romania/Craiova.jpg"); }

.bgimg-ab {
  background-image: url("/images/Romania/Cetatea-Alba-Iulia.jpg"); }

.bgimg-cozia {
  background-image: url("/images/Romania/Cozia.jpg"); }

.bgimg-b {
  background-image: url("/images/Romania/Bucuresti-Palatul-Parlamentului.jpg"); }

.bgimg-hd {
  background-image: url("/images/Romania/Hunedoara-Corvinilor-Castle.jpg"); }

.bgimg-den-haag {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

.bgimg-den-haag {
  background-image: url("/images/The-Netherlands/Den-Haag.jpg"); }

.section-book__contact {
  -webkit-clip-path: polygon(0 0, 100% 21%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 21%, 100% 100%, 0 100%); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem 2.5rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #ffffff;
  color: #777777; }
  .btn--white::after {
    background-color: #ffffff; }

.btn--green {
  background-color: #6d82f8;
  color: #ffffff;
  margin-top: 5rem; }
  .btn--green::after {
    background-color: #ffffff; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #6d82f8;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #6d82f8;
  padding: 13px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #6d82f8;
  color: #ffffff;
  box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.1);
  transform: translateY(0); }

.composition {
  position: relative;
  /*hover the composition and select the composition photo which is not hovered*/ }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 0.8rem;
    /*combined with the outline from hover gives you the space between the blue border and the picture*/ }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #6d82f8;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.96);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 65rem; }
  .card__side {
    height: 63rem;
    transition: all 0.83s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    /*it hides the back part of an element*/
    border: 3px;
    overflow: hidden;
    /*so you can see the borders of the card sides*/
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #889ce091, #3a659ea6); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #cbd169, #4b956f); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #889ce091, #3a659ea6), url(../images/nat-5.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #cbd169, #4b956f), url(../images/nat-5.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    /*so you can have the paddings on the next line as well*/
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(136, 156, 224, 0.85), rgba(58, 101, 158, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(203, 209, 105, 0.85), rgba(75, 149, 111, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li a {
          text-decoration: none;
          text-transform: uppercase;
          color: #777777;
          letter-spacing: 1.1px; }
          .card__details ul li a:hover {
            color: rgba(255, 119, 48, 0.85); }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #ffffff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 3rem;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1.3px; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      width: 70%;
      margin: 3rem auto;
      border: 3px;
      background-color: #ffffff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 2rem; } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #ffffff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s; }
  .popup__left {
    width: 33.33333%;
    display: table-cell; }
  .popup__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #f7f7f7;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #f7f7f7;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  .popup__close:hover {
    color: #6d82f8;
    font-size: 4rem; }
  @media (max-width: 75em) {
    .popup__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85%;
      display: grid; }
    .popup__left {
      width: 100%; }
    .popup__right {
      width: 100%; }
    .popup__img {
      display: block;
      width: 50%;
      float: left; }
    .popup__close:link, .popup__close:visited {
      top: 1.5rem;
      right: 1.5rem; } }

.form__group .btn {
  margin-top: 0 !important; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #4b956f; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #6d82f8;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.6rem; }
  .form__radio-button::after {
    content: '';
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6d82f8;
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /*the clearfix is from _grid.scss*/
  /*select all the classes starting with col-*/ }
  .row-gal {
    max-width: 114rem;
    margin: 10rem auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin: 0; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 90%;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 3rem; }
      @media (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0; } }
    @media (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2);
    /*100% - 60px or 6rem / 2 columns*/ }
    @media (max-width: 56.25em) {
      .row .col-1-of-2 {
        width: 100% !important; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4);
    padding: 0 4px; }
    @media (max-width: 56.25em) {
      .row .col-1-of-4 {
        width: 100%;
        margin: 0 auto; } }
    .row .col-1-of-4 img {
      padding: 0.5rem;
      margin: 1rem auto;
      vertical-align: middle;
      width: 100%;
      height: auto;
      transition: all 0.8s;
      outline-offset: 0.5rem;
      border-radius: 2%;
      border: 3px solid #ddd; }
      @media (max-width: 56.25em) {
        .row .col-1-of-4 img {
          margin-bottom: 4rem;
          width: 100%;
          height: auto; } }
    .row .col-1-of-4 img:hover {
      transform: scale(1.12) translateY(-0.5rem);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.96); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 3rem) / 3) + 3rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem); }

.header {
  height: 100vh;
  /*95% of the viewport height*/
  background-image: linear-gradient(to right bottom, rgba(136, 156, 224, 0.6), rgba(58, 101, 158, 0.6)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  /*the center remains the same when resizing, but the rest is resizing*/
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*x y is 0 0 from top-left corner to right to bottom-left and right*/ }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%); } }
  .header__nl {
    background-image: linear-gradient(to right bottom, rgba(136, 156, 224, 0.6), rgba(58, 101, 158, 0.6)), url(/images/The-Netherlands/Den-Haag.jpg); }
  .header__bv {
    background-image: linear-gradient(to right bottom, rgba(136, 156, 224, 0.6), rgba(58, 101, 158, 0.6)), url(/images/Romania/Brasov-Piata-Sfatului.jpg); }
  .header__ct {
    background-image: linear-gradient(to right bottom, rgba(136, 156, 224, 0.6), rgba(58, 101, 158, 0.6)), url(/images/Romania/Constanta-Beach-2.jpg); }
  .header__cr {
    background-image: linear-gradient(to right bottom, rgba(136, 156, 224, 0.6), rgba(58, 101, 158, 0.6)), url(/images/Romania/Craiova.jpg); }
  .header__ab {
    background-image: linear-gradient(to right bottom, rgba(136, 156, 224, 0.6), rgba(58, 101, 158, 0.6)), url(/images/Romania/Cetatea-Alba-Iulia.jpg); }
  .header__cozia {
    background-image: linear-gradient(to right bottom, rgba(136, 156, 224, 0.6), rgba(58, 101, 158, 0.6)), url(/images/Romania/Cozia.jpg); }
  .header__b {
    background-image: linear-gradient(to right bottom, rgba(136, 156, 224, 0.6), rgba(58, 101, 158, 0.6)), url(/images/Romania/Bucuresti-Palatul-Parlamentului.jpg); }
  .header__hd {
    background-image: linear-gradient(to right bottom, rgba(136, 156, 224, 0.6), rgba(58, 101, 158, 0.6)), url(/images/Romania/Hunedoara-Corvinilor-Castle.jpg); }
  .header__den-haag {
    background-image: linear-gradient(to right bottom, rgba(136, 156, 224, 0.6), rgba(58, 101, 158, 0.6)), url(/images/The-Netherlands/Den-Haag.jpg); }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 85px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 4rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #999;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #6d82f8;
    box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.4);
    transform: rotate(2deg) scale(1.7); }
  .footer__copyright {
    border-top: 1px solid #999;
    padding-top: 2rem;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 11rem;
        float: none;
        padding-top: 1rem;
        margin: 0 auto; } }

.navigation {
  /*for clicking the Menu button*/ }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    color: #ffffff;
    background-image: radial-gradient(#ffffff, #889ce091);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 4rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem #000000;
    cursor: pointer;
    text-align: center; }
    @media (max-width: 56.25em) {
      .navigation__button {
        top: 4rem;
        right: 4rem; } }
    @media (max-width: 37.5em) {
      .navigation__button {
        top: 3rem;
        right: 3rem; } }
  .navigation__background {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 6rem;
    background-image: radial-gradient(#000000, #a13e3e);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media (max-width: 56.25em) {
      .navigation__background {
        top: 4rem;
        right: 4rem; } }
    @media (max-width: 37.5em) {
      .navigation__background {
        top: 3rem;
        right: 3rem; } }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 30%;
    left: 45%;
    /*for horizontal menu
    display: flex;
    position: relative;
    top: 20%;
    left: 30%;*/
    transform: translate(-45, -50);
    list-style: none;
    text-align: center; }
    @media (max-width: 37.5em) {
      .navigation__list {
        left: 40%; } }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: bolder;
    padding: 1rem 2rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
    background-size: 300%;
    transition: all 0.8s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #3a659ea6;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.3rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3.5rem;
      height: 5px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -1rem; }
    .navigation__icon::after {
      top: 1rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1.3rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1.3rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

/*Submenu dropdown on click with JS*/
.dropdown-btn {
  display: block;
  font-size: 3rem;
  font-weight: bolder;
  padding: 1rem 2rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 300%;
  transition: all 0.8s;
  cursor: pointer; }
  .dropdown-btn:hover, .dropdown-btn:active {
    background-position: 100%;
    color: #3a659ea6;
    transform: translateX(1rem); }

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none; }
  .dropdown-container a {
    display: block;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1.2px;
    left: 50%;
    padding: 1.5rem;
    border: none;
    border-bottom: 1px solid #353539;
    color: #ffffff;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
    background-size: 300%;
    transition: all 0.8s; }
    .dropdown-container a:hover {
      color: #ffffff;
      background-color: #ffffff;
      background-position: 100%;
      color: #3a659ea6;
      transform: translateX(1rem); }

/*for the sidebar*/
ul.nav-sidebar {
  list-style-type: none;
  margin: 1rem auto;
  padding: 0;
  width: 100%;
  background-color: #f7f7f7;
  position: relative;
  overflow: auto;
  text-transform: uppercase; }
  ul.nav-sidebar__places {
    padding-left: 2rem;
    text-transform: none;
    margin: 0; }
    ul.nav-sidebar__places__city {
      padding-left: 2rem;
      margin: 0; }
  ul.nav-sidebar li a {
    display: block;
    color: #000000;
    padding: 0.5rem 1.2rem;
    text-decoration: none; }
  ul.nav-sidebar li a:hover {
    color: #777777;
    font-size: 1.7rem; }

/* Sub Menu dropdown on hover*/
/*
.navigation__list ul .navigation__itemsub {
  // position: absolute;
  opacity: 0;

  // background: #575a62;

  // border-radius: 5px;
  // -webkit-border-radius: 5px;
  // -moz-border-radius: 5px;

  // transition: opacity 0.25s ease 0.1s;
  // -moz-transition: opacity 0.25s ease 0.1s;
  // -webkit-transition: opacity 0.25s ease 0.1s;
  // -ms-transition: opacity 0.25s ease 0.1s;
}

.navigation__list li {
  list-style: none;
  position: relative;
  text-decoration: none;
  transition: all 1.2s;
}

.navigation__list li:hover > ul {
  opacity: 1;
  transform: translateX(1rem);
}

.navigation__list ul li {
  height: 0;
  overflow: hidden;
  padding: 0;
}

.navigation__list li:hover > ul.navigation__itemsub > li {
  height: auto;
  overflow: visible;
  padding: 1rem;
  position: relative;
}

.navigation__list ul.navigation__itemsub > li > a {
  width: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1.2px;
  left: 50%;
  padding: 1.5rem;
  border: none;
  border-bottom: 1px solid #353539;
  color: $color-white;
  &:hover {
    color: red;
    background-color: $color-white;
  }
}
*/
